<div class="container" ng-controller="flightApp.FirstController">
	<h1>Airports</h1>
	<ul ng-repeat="airport in airports">
	  <li>{{airport.code}}</li>
	  <li>{{airport.city}}</li>
	  <li>{{airport.name}}</li>
	</ul>
</div>